#viewer {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    text-align: left;
    overflow: hidden;
    position: relative;
    padding-bottom: 500px;
}

#viewer img {
    top: 0;
    left: 0;
    position: absolute;
}

.demo {
    max-width: 80%;
    margin: 0 auto;
}
.demo img {
    float: left;
}
.demo p {
    float: left;
    text-align: center;
}

/*clearfixの設定*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}