* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    position: fixed;
    z-index: 23;
}
.nav {
    width: 750px;
    height: 40px;
    margin: 0 auto;
    display: flex;
}
.nav li {
    position: relative;
    list-style: none;
}
.nav li a {
    display: block;
    width: 150px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 2.8;
    background: #9fb7d4;
    transition: 0.5s;
    text-decoration: none;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}
.nav > li:hover > a {/*layer-1*/
    color: orange;
    background: #afc6e2;
}
.nav > li li:hover > a {/*layer-2*/
    color: olive;
    background: #afc6e2;
}
.nav li ul {
    top: 40px;
    position: absolute;
}
.nav li ul li {
    overflow: hidden;
    height: 0;
    transition: 0.2s;
    top: 0;
}
.nav li ul li a {
    border-top: 1px solid #eee;
}
.nav li:hover > ul > li {
    overflow: visible;
    height: 40px;
}


#viewer {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    text-align: left;
    overflow: hidden;
    position: relative;
    padding-bottom: 500px;
}

#viewer img {
    top: 0;
    left: 0;
    position: absolute;
    margin-top: 100px;
}

.demo {
    max-width: 80%;
    margin: 0 auto;
}
.demo img {
    float: left;
}
.demo p {
    float: left;
    text-align: center;
}

/*clearfixの設定*/
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}